<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon application{% endblock %}</title>

    {# Inclure le CSS de Leaflet #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{# Inclure le JavaScript de Leaflet #}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


{% block javascripts %}{% endblock %}
</body>
</html>
